// **************************************************
//  Variables
// **************************************************

// --------------------------------------------------
//  modifies bootstrap/bootswatch settings
// --------------------------------------------------


// --------------------------------------------------
//  project settings
// --------------------------------------------------

$lbbGreen:        #11f595;
$llbLink:         #848484;
$llbText:         #161615;
$blackLight:      #393939;

// --------------------------------------------------
//  overwrite bootstrap
// --------------------------------------------------

$primary: $llbText;
$success: $lbbGreen;
$gray-light: $llbLink;


$font-size-base: 1rem;
$link-color: $llbLink;
$link-hover-color: $llbText;
$link-hover-decoration: underline;

$navbar-nav-link-padding-x: 1.2rem;

$h1-font-size: 2.5rem;
$h2-font-size: 2.5rem;
$h3-font-size: 1.875rem;

$pagination-color: white;
$pagination-border-color: $primary;
$pagination-hover-color: white;
$pagination-hover-bg: $primary;
$pagination-hover-border-color: $primary;
$pagination-active-color: $primary;
$pagination-active-bg: white;
$pagination-active-border-color: $primary;


// --------------------------------------------------
//  Projects settings
// --------------------------------------------------

$menu-hover:    #FFFFFF;
$body-bg:       #FFFFFF;
$content-back:  #eaeaea;